html {
    zoom: 100%;
    background-size: 100%;
    text-align: center;
    background-image: url("https://i.ibb.co/WkbWhjs/bakgrund.png");
}

.hide {
    display: none;
}

.startKnapparKV {
    width: 10vw;
    height: 5vw;
    background-size: 100%;
    position: relative; top: 18vw; left: 45vw;
    display: grid;
    grid-row: auto;
    margin-top: 0.5vw;
    border: none;
    opacity: 80%;
}

.startKnapparKH {
    width: 10vw;
    height: 5vw;
    background-size: 100%;
    position: relative; top: 18vw; right: -45vw;
    display: grid;
    grid-row: auto;
    margin-top: 0.5vw;
    border: none;
    opacity: 80%;
}

.startKnapparTextK {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0.55vw;
}

.startKh {
    display: none;
}

.spelareK {
    font-weight: bold;
}

.husK {
    font-weight: bold;
}

.kortS {
    height: 10vw; 
    width: 7.5vw;
    margin: 0.5vw;
}

.kortSBclass {
    position: static;
}

.kortH {
    height: 10vw; 
    width: 7.5vw;
    margin: 0.5vw;
}

.reglerT {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: yellow;
    position: absolute; top: 7vw;
    margin-left: 20vw;
    margin-right: 20vw;
}

.backaK {
    background-image: url("https://i.ibb.co/V3wFGNY/backa.png");
    width: 10vw;
    height: 5vw;
    background-size: 100%;
    position: absolute; bottom: 3vw; left: 45vw;
    display: grid;
    grid-row: auto;
    margin-top: 0.5vw;
    border: none;
}

.spelKnappar {
    width: 10vw;
    height: 5vw;
    background-size: 100%;
    border: none;
    opacity: 80%;
}

.spelKnappar:hover {
    opacity: 100%;
}

.startKnapparKH:hover {
    opacity: 100%;
}

.startKnapparKV:hover {
    opacity: 100%;
}

@keyframes startKnapparAnimationH {
    100% { position: relative; left: 45vw; }
    0% { position: relative; left: -10vw; }
}

@keyframes startKnapparAnimationV {
    100% { position: relative; right: -45vw; }
    0% { position: relative; right: -100vw; }
    
}

@keyframes startKnapparAnimationHT {
    99% { position: relative; left: 45vw; }
    0% { position: relative; left: -10vw; }
    100% { display: none; }
}

@keyframes startKnapparAnimationVT {
    99% { position: relative; right: -45vw; }
    0% { position: relative; right: -100vw; }
    100% { display: none; }
}

.startKnapparAnimationHoger {
    animation: startKnapparAnimationH 1.5s;
}
.startKnapparAnimationVanster {
    animation: startKnapparAnimationV 1.5s;
}

.startKnapparAnimationHogerT {
    animation: startKnapparAnimationH 1.5s;
}
.startKnapparAnimationVansterT {
    animation: startKnapparAnimationV 1.5s;
}

.poangKlass {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3vw;
    position: absolute; top: 1vw; right: 1.5vw;
    color: gold;
}